/**************/
/* CSS REMEDY */
/**************/


/* ****** */
/* FONTS */
/* ****** */


@font-face {
  font-family: body-font2;
  src: url('../fonts/eenfont.woff2') format("woff2");
}

@font-face {
  font-family: disney-font;
  src: url('../fonts/waltographUI.ttf') format("truetype");
}

@font-face {
  font-family: body-font;
  src: url('../fonts/donald-duck.woff') format("woff");
}

@font-face {
  font-family: duck-font;
  src: url('../fonts/Minnie.ttf') format("truetype");
}




/* naar een idee van Jen Simmons */
*, *::after,
*::before {
  box-sizing:border-box; 


  cursor: url(../images/cursor.png), auto; 

}

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {

  --color-brand:rgb(33, 33, 163);

  --bg-body:#fedd05;
  --clr-body:rgb(255, 255, 255);
  --color-body2:black;


  --bg-header:mediumblue;
  --clr-header:white;

  --bg-footer:mediumblue;
  --clr-footer:white;

  --bg-header-a:lightpink;
  --shdw-header-a:inset .25em .25em 0 #002;
  --bg-footer-a:lightpink;
  --shdw-footer-a: .25em .25em 0 deeppink;
  --shdw-footer-a-active: 0 0 0 deeppink;

  --font-body:hallo, sans-serif;
  

  --ws:.7rem;
}



/* dark mode css */

@media (prefers-color-scheme:dark) {
  :root {
    --color-brand:mediumblue;

    --bg-body:maroon;
    --clr-body:#fedd05;
  
  
    --bg-header:mediumblue;
    --clr-header:white;
  
    --bg-footer:mediumblue;
    --clr-footer:white;
  
    --bg-header-a:deeppink;
    --shdw-header-a:inset -.25em -.25em 0 black;
    --bg-footer-a:deeppink;
    --shdw-footer-a:inset -.25em -.25em 0 black;
  }
}


@media (width > 40em ) {
  :root {
    --ws:1rem;
  }
}




/********************/
/* ALGEMENE STYLING */
/********************/

body {
  /* background-color: var(--bg-body); */
  color: var(--clr-body);
  background-image: url('../images/Background-image1.jpg');
  background-color: #a56600;
 
}



/* BRONNEN */
/* https://www.youtube.com/watch?app=desktop&v=GjTwui3Myz4 */


/**********/
/* HEADER */
/**********/

header {
  /* background-color: var(--bg-header); */
  color: var(--clr-header);
  padding: 1em;
  font-family:disney-font, sans-serif;
  font-size: 1em;
  border:.5em;
  /* font-weight: 100; */



}

header nav ul {
  margin:0;
  padding:0;
  list-style:none;

  display: flex;
  gap:var(--ws);

  
}

header ul a {
  background-color:var(--bg-header-a);
  display: block;

  padding:var(--ws) calc(var(--ws) * 2);
  
  border-radius:var(--ws);

  box-shadow:var(--shdw-header-a);
}



/**********/
/* FOOTER */
/**********/

footer {
  background-color: var(--color-brand);
  color: var(--clr-footer);

  padding:var(--ws);

  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:var(--ws);
}

footer nav ul {
  margin:0;
  padding:0;
  list-style:none;

  display: flex;
  gap:var(--ws);
}

footer ul a {
  background-color:var(--bg-footer-a);
  display: block;
  padding:var(--ws) calc(var(--ws) * 2);
  border-radius:var(--ws);
  box-shadow: var(--shdw-footer-a);
  transition: .2s;
}

footer ul a:active {
  box-shadow: var(--shdw-footer-a-active);
  color:greenyellow;
  translate: .25em .25em;
  background-color: orange;
}




/********/
/* MAIN */
/********/

/* ** */
/* H1 */

section h1:nth-of-type(1) {
  color:var(--color-brand);
    font-family:duck-font, sans-serif;
    text-shadow: #002;
    font-size: 5.5em;
    text-transform: uppercase;
    letter-spacing: -.1em;
  padding-left: 1em;
  margin-top: 0em;


  /* border: solid 1px; */
  -webkit-text-stroke: .3px white; /* width and color */
  transform:skewY(-5deg);
  display: flex;
  margin-bottom: .5em;  

}

section h1:nth-of-type(2) {
  color:var(--color-brand);
    font-family:duck-font, sans-serif;
    text-shadow: #002;
    font-size: 7.5em;
    text-transform: uppercase;
    letter-spacing: -.1em;
  padding-left: .5em;
  margin-top: .3em;

  /* border: solid 1px; */
  -webkit-text-stroke: .3px white; /* width and color */
  transform:skewY(5deg);
  /* display: flex; */
  margin-bottom: .5em;  

}

/* ** */
/* H2 */

h2 {
  
  font-family: body-font,sans-serif;
  color: var(--clr-header);
  font-size: .9em;
padding-left: 23em;
/* padding-top: .5em; */
padding-bottom: 10em;

}



section {
/* display: flex; */
display: grid;
grid-column: 2 / -1;
}



/* *************** */
/* LIST EN SECTION */



main ol {
  /* display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; */

  /* column-gap:1em;
  row-gap:1em; */

  gap:1em;

  padding:1em;
  margin:0;
  list-style: none; 
 
}


main ol li{
    font-family: body-font;
  color:var(--clr-body);
  border-radius:var(--ws);
  display:flex;
  gap:3em;
  padding:1em;
  margin:3em;

}


main ol li img{
  height: 100%;
  width: 10em;


}

main ol li:nth-of-type(even){
  justify-content: end;


}


main ol li section{
  background-color: var(--color-brand);
  padding:1em;
  border-radius:var(--ws);
  max-width: 50em;
    

}


main ol li:nth-of-type(even) section{
  /* background-color: #000 */
  order: -1;
  text-align: right;
  /* background-color:var(--color-brand); */
  /* background-color: var(--color-brand); */
  align-content: right;



}


main ol li section p{
 font-family: sans-serif;
 max-width: 30em;
}

/* *************** */
/* ANIMATION COINS */


main ol li img:hover:nth-of-type(1){
  animation-name:coin1;
  animation-duration: 2s;
  /* animation-iteration-count: infinite; */
}

@keyframes coin1{
  0%{
    transform:rotate(0); 
   }
   100%{
     transform:rotate(360deg);
   }
}






/* BRONNEN */
/* https://tradeboost.eu/product/908/1_oz_disney_scrooge_mcduck_250_dollar */