/**************/
/* CSS REMEDY */
/**************/


/* ****** */
/* FONTS */
/* ****** */


@font-face {
  font-family: body-font2;
  src: url('../fonts/eenfont.woff2') format("woff2");
}

@font-face {
  font-family: disney-font;
  src: url('../fonts/waltographUI.ttf') format("truetype");
}

@font-face {
  font-family: body-font;
  src: url('../fonts/donald-duck.woff') format("woff");
}

@font-face {
  font-family: duck-font;
  src: url('../fonts/Minnie.ttf') format("truetype");
}




/* naar een idee van Jen Simmons */
*, *::after,
*::before {
  box-sizing:border-box;
  cursor: url(../images/pngimg.com\ -\ cursor_PNG13.png), auto; 

}

/* .custom{
  cursor: url(../images/icons8-banknotes-96.png), auto;
} */

body {
  margin:0;
}

button:not([disabled]) {
  cursor:pointer;
}

img {
  max-width:100%;
}

/* img1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; /* Hiermee stel je de z-index in om de afbeelding bovenop alle andere elementen te plaatsen */
/* } */ 







/*********************/
/* CUSTOM PROPERTIES */
/*********************/


:root {

  --color-brand:rgb(33, 33, 163);
  --color-brand2:maroon;


  --bg-body:#fedd05;
  --clr-body:rgb(255, 255, 255);
  --color-body2:black;

  --clr-dialog:hsl(52, 82%, 50%);
  --clr-body-dialog:black;

  --bg-header:mediumblue;
  --clr-header:white;

  --bg-footer:mediumblue;
  --clr-footer:white;

  --color-shadow: hsl(49, 99%, 40%);
  --color-shadow2: yellow;

  /* --bg-header-a:lightpink;
  --shdw-header-a:inset .25em .25em 0 #002;
  --bg-footer-a:lightpink;
  --shdw-footer-a: .25em .25em 0 deeppink;
  --shdw-footer-a-active: 0 0 0 deeppink; */

  --font-body:hallo, sans-serif;
  

  --ws:.7rem;
}




/* ************* */
/* DARK MODE css */

@media (prefers-color-scheme:dark) {
  :root {
    --color-brand:maroon;

    --bg-body:maroon;
    --clr-body:hsl(60, 4%, 95%);
  
    --bg-header:mediumblue;
    --clr-header:white;
  
    --bg-footer:mediumblue;
    --clr-footer:white;
  
  }
}

@media (width > 40em ) {
  :root {
    --ws:1rem;
  }
}







/********************/
/* ALGEMENE STYLING */
/********************/

body {
  /* background-color: var(--bg-body); */
  color: var(--clr-body);
  background-image: url('../images/achtegrond_final3.jpg');
  background-color: #a56600;
  background-repeat: no-repeat;
  background-size: 100vw;
  /* background-image: url('../images/duck_spring.png') */
 
}


/* BRONNEN */
/* https://www.youtube.com/watch?app=desktop&v=GjTwui3Myz4 */







/**********/
/* HEADER */
/**********/

header {
  /* background-color: var(--bg-header); */
  color: var(--clr-header);
  padding-left: 3.5em;
  padding-top: 2em;
  font-family:disney-font, sans-serif;
  font-size: 1em;
  border:.5em;
  



}

/* header nav ul {
  margin:0;
  padding:0;
  list-style:none;

  display: flex;
  gap:var(--ws);

  
} */

header ul a {
  background-color:var(--bg-header-a);
  display: block;

  padding:var(--ws) calc(var(--ws) * 2);
  
  border-radius:var(--ws);

  box-shadow:var(--shdw-header-a);
}







/**********/
/* FOOTER */
/**********/

/* footer {
  background-color: var(--color-brand);
  color: var(--clr-footer);

  padding:var(--ws);

  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:var(--ws);
}

footer nav ul {
  margin:0;
  padding:0;
  list-style:none;

  display: flex;
  gap:var(--ws);
}

footer ul a {
  background-color:var(--bg-footer-a);
  display: block;
  padding:var(--ws) calc(var(--ws) * 2);
  border-radius:var(--ws);
  box-shadow: var(--shdw-footer-a);
  transition: .2s;
}

footer ul a:active {
  box-shadow: var(--shdw-footer-a-active);
  color:greenyellow;
  translate: .25em .25em;
  background-color: orange;
} */







/********/
/* MAIN */
/********/




/* ** */
/* H1 */

section h1:nth-of-type(1) {
  color:var(--color-brand);
    font-family:duck-font, sans-serif;
    /* text-shadow: #002; */
    font-size: 6.5em;
    text-transform: uppercase;
    letter-spacing: 0em;
  padding-left: 1em;
  margin-top: 0em;


  /* border: solid 1px; */
  -webkit-text-stroke: .3px var( --clr-body); /* width and color */
  transform:skewY(-5deg);
  display: flex;
  margin-bottom: .5em;  

}

section h1:nth-of-type(2) {
  color:var(--color-brand);
    font-family:duck-font, sans-serif;
    /* text-shadow: #002; */
    font-size: 7.5em;
    text-transform: uppercase;
    letter-spacing: 0em;
  padding-left: .5em;
  margin-top: .3em;

  /* border: solid 1px; */
  -webkit-text-stroke: .3px var( --clr-body); /* width and color */
  transform:skewY(5deg);
  /* display: flex; */
  margin-bottom: 4px;


}






/* ** */
/* H2 */
/* ** */


h2 {
  
  font-family: body-font,sans-serif;
  color: var(--clr-header);
  font-size: .9em;
padding-left: 23em;
/* padding-top: .5em; */
padding-bottom: 10em;

}

section:first-of-type {
/* display: flex; */
display: grid;
grid-column: 2 / -1;


}






/* ****************** */
/* IMG SCROOGE DIALOG*/


#img-scrooge {
  /* align-content: right; */
  position: absolute;
  right: 25%;
  top: 13%;
  width: 22em;
  

}

main > button {
  
  /* POSITIE */
  position: absolute;
  right: 15%;
  top: 75%;
  z-index: 50;
  padding:.3em;
  
  /* BUTTON STYLING */
  background-color: var(--color-brand);
  border-radius: .8em;

  /* FONTS */
    font-family:duck-font, sans-serif;    
    font-size: 1.5em;
    /* text-transform: uppercase; */
    color: var(--color-body);

}

.dialog-scrooge{
display: none;
}

.zichtbaar {
  position: absolute;
  height: 70vh;
  width: 70vw;
  background-color: var(--color-brand);
  border: 2px solid var( --clr-body);
  border-radius:var(--ws);
  box-shadow: .25em .25em 0 var( --clr-body);
 
  z-index: 50;
  display: block;
}

.zichtbaar section {
  display: grid;
  grid-template-columns: 45% 45% 10%;
  grid-template-rows: 20% 80%;
  height: 100%;
}

.zichtbaar section img {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
}

.zichtbaar section h2{
  padding: 0em;
  font-weight: bold;
  font-size: 200%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: end;

}

.zichtbaar section p{
  display: grid;
  grid-column: 2;
  font-family: body-font;
  color: var( --clr-body);
  letter-spacing: .2em;
  line-height: 1.8em;


}

.zichtbaar section button{
  background-color: var(--color-brand);
  color:var( --clr-body) ;
  border: 2px solid var( --clr-body);
  box-shadow:  var(--shdw-header-a);
  width: 50%;
  height: auto;
  aspect-ratio: 1;
  justify-self: end;
  align-self: start;


  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;


} 







/* *************** */
/* LIST EN SECTION */


main ol {
  /* display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; */

  /* column-gap:1em;
  row-gap:1em; */

  gap:1em;

  padding:7em;
  margin:0;
  list-style: none; 
 
}

main ol li{
    font-family: body-font;
  color: var( --clr-body);
  /* border-radius:var(--ws); */
  display:flex;
  gap:3em;
  padding:1em;
  margin: 2.5em;
  

}

main ol li section h3{
  font-size: 1.7em;
  margin-top: .5em;
  margin-bottom: .6em;
}

main ol li section p{
  margin-top: 0em;
}

main ol li button{
  height: 100%;
  width: 15em;
  background: transparent;
  border: none;
  filter: drop-shadow(.5em -.5em .5em var(--color-shadow));

}

main ol li:nth-of-type(even){
  justify-content: end;

}

main ol li section{
  background-color: var(--color-brand);
  padding:1em;
  border-radius:var(--ws);
  max-width: 50em;
  border: 2px solid var( --clr-body);
  opacity: 0;
  transition: 1s;

}

main ol li section.verschuiven{
  opacity: 1;

}

main ol li button:nth-of-type(2){
  scale: .4;
  position: relative;
  left: 50%;
  

}

main ol li:nth-of-type(odd) section{
  box-shadow: .25em .25em 0 var( --clr-body);

}

main ol li:nth-of-type(even) section{
  /* background-color: #000 */
  order: -1;
  text-align: right;
  /* background-color:var(--color-brand); */
  /* background-color: var(--color-brand); */
  align-content: right;
  box-shadow: -.25em .25em 0 var( --clr-body);



}

main ol li section p{
 font-family: sans-serif;
 max-width: 30em;
}






/* *************** */
/* ANIMATION COINS */


main ol li button:hover:nth-of-type(1){
  animation-name:coin1;
  animation-duration: 2s;
  transition: ease-out 1s;
  /* animation-iteration-count: infinite; */
}

/* @keyframes coin1{
  0%{
    transform:rotate(0); 
   }
   100%{
     transform:rotate(360deg);
   }
} */

@keyframes coin1{
  0%{
    transform: rotate3d(.1, .1, 0, 0turn);
  }
  100%{
    transform: rotate3d(.1, .1, 0, 1turn);
  }
}

main ol li:nth-of-type(9) button {
  width: 20em;
  filter: drop-shadow(0em -2em 1.5em var(--color-shadow2));



}






/* ********************************** */
/* IMAGES BINNEN SECTIONS OP TIJDSLIJN */


main ol li section img:nth-of-type(1){
  width: 6em;

}

main ol li:nth-of-type(6) section img:nth-of-type(2){
  width: 15em;
  float: right;
  clear: right;

}

main ol li:nth-of-type(6) section ul{
  display: flex;
  grid-template-columns: 30% 70%;

}

main ol li:nth-of-type(6) section ul li{

  margin: 0px;
  width: 100%;
  gap: 0em;
  
}

main ol li section img:hover{
  animation-name: schilderij;
  animation-duration: 2s;
  transition: ease-out 1s;
}

@keyframes schilderij {
  0% {
    scale:1;
  }
  50% {
    scale:1.5;
  }
  100% {
    scale:1;
  }
}






/* *************** */
/* SWIMMING SCROOGE */


.scrooge-zwemmend {

  position: absolute;
  left: 12%;
  top: 210%;

  width: 25%;
  

}






/* ******************** */
/* DIALOOG 2 DE SLEUTEL */


.button-sleutel {
  
  background-color: transparent;
  width: 5em;
  filter: drop-shadow(1px 1px 1px);
  border: none;


}

.sleutel {
  position: absolute;
  height: 70vh;
  width: 70vw;
  background-color: var(--color-brand2);
  



  border: 2px solid var( --clr-body);
  border-radius:var(--ws);
  box-shadow: .25em .25em 0 var( --clr-body);
 
  z-index: 50;
  display: block;

  overflow-x: auto;

}

.sleutel section ol {
  display: flex;




  /* grid-template-columns: 45% 45% 10%;
  grid-template-rows: 20% 80%;
  height: 100%; */
}

 
/* .sleutel section img {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  height: 100%;
} */

#h2 {
  position: static;
  top: 1em;
  left:2em;

  padding: 0em;
  font-weight: bold;
  font-size: 200%;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;

}


/* .sleutel section p{
  display: grid;
  grid-column: 2;
  font-family: body-font;
  color: #fff;
  letter-spacing: .2em;


} */

.sluiten{
  background-color: var(--color-brand);
  color: var( --clr-body);
  border: 2px solid var( --clr-body);
  box-shadow:  var(--shdw-header-a);
  width: 50%;
  height: auto;
  aspect-ratio: 1;
  justify-self: end;
  align-self: start;


  /* grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4; */


} 

.sluiten2 {
  width: 3em;
  height: 3em;
  background-color: var(--color-brand);
  color: var( --clr-body);
  border: 2px solid var( --clr-body);
  box-shadow:  var(--shdw-header-a);
  grid-column: 2/3;
  grid-row: 1/2;
  margin-right: 2em;
}

.sleutel section ol {
  margin: 0em;
  padding: 1em;
}

.sleutel section ol li {

  margin: 0em;
  width: 20em;

}





















